.about {

  padding-top: 8rem;

  @media screen and (min-width: 640px) {
    padding-top: 20rem;
  }

  &__subhead {
    color: var(--accent-color);
    padding-bottom: 20px;
  }

  &__text {
    line-height: 1.7;
    padding-bottom: 1rem;
    font-size: clamp(1.4rem, 2vw, 1.6rem);

    @media screen and (min-width: 1024px) {
      text-align: justify;
    }
  }

  &__headshot {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      position: relative;
      float: right;
      width: 33%;
      max-width: 300px;
      shape-outside: polygon(36.375% 0, 100% 0, 100% 100%, 0 100%);
      margin: 0 0 2rem 4rem;

      svg {
        display: block;
      }
    }

    
  }

}