@font-face {
    font-family: 'OpenSans Regular';
    src: url('./../fonts/OpenSans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Italic';
    src: url('./../fonts/OpenSans/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans SemiBold';
    src: url('./../fonts/OpenSans/OpenSans-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans SemiCond Regular';
    src: url('./../fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans SemiCond Bold';
    src: url('./../fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans SemiCond SemiBold';
    src: url('./../fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}