html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  color: var(--main-color);
  background-color: var(--background-color);
  font-family: 'OpenSans Regular', sans-serif;
  min-height: 100vh;
  padding: 0 0 100px;
  margin: 0;
  transition: var(--toggle-transition);
}

button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

.container {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    width: 80%;
  }

  @media screen and (min-width: 1200px) {
    width: 70%;
    max-width: 1200px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'OpenSans Regular', sans-serif;
}

.section-header {
  position: relative;
  font-size: clamp(2rem, 2.25vw, 2.6rem);
  font-family: 'OpenSans SemiCond SemiBold', sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 4rem;

  @media screen and (min-width: 1200px) {
    margin-bottom: 6rem;
  }

  &--about {
    margin-bottom: 0;
  }

  &--more {
    font-size: clamp(1.8rem, 2.25vw, 2.4rem);
    margin-bottom: 3rem;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1.5px;
    background-color: var(--black-white);
    opacity: .2;
    transition: var(--toggle-transition);
  }

  &__text {
    position: relative;
    display: inline-block;
    background-color: var(--background-color);
    padding-right: 1rem;
    z-index: 2;
    transition: var(--toggle-transition);    
  }
}


