.mobile-menu {
  position: relative;
  width: 26px;
  height: 20px;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  .menu-bar {
    position: absolute;
    top: 0;
    background-color: var(--main-color);
    width: 100%;
    height: 2px;
    transition: .2s;

    &--top {
      transform-origin: 0 0;
    }

    &--middle {
      top: 50%;
      transform: translateY(-50%);
    }

    &--bottom {
      top: auto;
      bottom: 0;
      transform-origin: 0% 100%;
    }
  }

  &.open {
    .menu-bar {
      transition: .2s;

      &--top {
        transform: translateX(4px) rotate(45deg);
      }

      &--middle {
        opacity: 0;
      }

      &--bottom {
        transform: translateX(4px) rotate(-45deg);
      }
    }
  }
}